.repeatSystem {
    position: absolute;
    top: 40%;
    right: 0%;
    width: 350px;
    transform: translate(-50%, -50%);
}

.repeatSystemContent {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 250px;
    background-color: #D6D8D5;
    padding: 12px;
    box-sizing: border-box;
}

.repeatSystemContent h3 {
    font-style: italic;
    font-size: 22px;
    font-weight: 100;
    margin: 0;
}

.repeatButton {
    align-self: flex-end;
    text-align: center;
    min-width: 60px;
    padding: 4px 8px;
    cursor: var(--cursor-disabled);
}
