.menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    box-sizing: border-box;
    min-height: clamp(40px, 8vh,52px);
    padding: clamp(6px, 1.5vw, 12px) clamp(16px, 3vw, 32px);
    gap: clamp(12px, 3vw, 32px);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--bevel-face);
    font-size: clamp(16px, 2vw, 24px);
    line-height: 1;
}

.links {
    display: flex;
    align-items: center;
    gap: clamp(12px, 3vw, 32px);
    margin: 0;
    padding: 0;
    list-style: none;
}

.link {
    color: #000;
    text-decoration: none;
    line-height: 1;
    padding: 2px 4px;
}

.link:hover, .link:focus-visible {
    color: #fff;
    background-color: var(--color-primary-hover);
    outline: none;
}

@media (max-width: 900px) {
    .menu {
        display: none;
    }
}