.desktop {
    position: relative;
    height: 100%;
}

.labCluster {
    position: absolute;
    top: clamp(52%, 72%, 78%);
    left: clamp(52%, 60%, 68%);
    transform: translate(-50%, -50%);
    width: clamp(220px, 38vw, 435px);
    aspect-ratio: 4 / 3;
}

@media (max-width: 900px) {
  .labCluster {
    display: none;
  }
}