.window {
    position: absolute;
    top: 65%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: min(460px, 50%);
    aspect-ratio: 4 / 3;
}
.labViewImage {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}