.scrollbar {
    position: absolute;
    background: var(--bevel-face);
    box-sizing: border-box;
}

.vertical{
    top: 0;
    right: 0;
    width: 14px;
    height: 100%;
    border-top: 0;
    cursor: var(--cursor-disabled);
}

.horizontal{
    bottom: 0;
    left: 0;
    right: 0;
    height: 16px;
    width: 100%;
    box-sizing: border-box;
    background: var(--bevel-face);
}


.scroll{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    
    width: 30%;
    box-sizing: border-box;

    background: var(--bevel-lighter);
    box-shadow:
        inset 1px 1px 0 var(--bevel-lighter),
        inset -1px -1px 0 var(--bevel-dark);

    cursor: var(--cursor-disabled);
}

.cornerButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 14px;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    background: var(--bevel-face);
    border: 1px solid;
    border-top-color: var(--bevel-light);
    border-left-color: var(--bevel-light);
    border-right-color: var(--bevel-darker);
    border-bottom-color: var(--bevel-darker);
    box-shadow:
      inset 1px 1px 0 var(--bevel-lighter),
      inset -1px -1px 0 var(--bevel-dark);
    cursor: var(--cursor-disabled);
  }
