.popoverContainer {
    position: relative;
    display: inline-block;
}

.popoverTextbox {
    position: absolute;
    border: 1px solid gray;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    bottom: 110%;
    opacity: 0;
    visibility: hidden;
}

.popoverButton:hover + .popoverTextbox {
    opacity: 1;
    visibility: visible;
}