:root {
  --bevel-face: #C0C0C0;
  --bevel-light: #FFFFFF;
  --bevel-lighter: #DFDFDF;
  --bevel-dark: #808080;
  --bevel-darker: #404040;

  --background: var(--bevel-face);           
  --foreground: #000000;

  --color-sidebar-bg: var(--bevel-face);
  --color-card-bg: var(--bevel-face);
  --color-border: var(--bevel-dark); 

  --color-primary: #000080;
  --color-primary-hover: #303030;

  --color-surface: #1A1A1A;
  --color-surface-text: #E0E0E0;
  --color-text: var(--foreground);

  --cursor-default: url('/cursors/arrow.cur'), auto;
  --cursor-pointer: url('/cursors/pointer.cur'), auto;
  --cursor-disabled: url('/cursors/disabled.cur'), auto;
}

html, body 
{ 
  cursor: var(--cursor-default);
}

a, button {
  cursor: var(--cursor-pointer);
}

body {
  background: var(--background);
  font-family: var(--ibm-plex-serif), serif;
  font-size: 16px;
  color: var(--color-text);
  margin: 0;
  padding: 0;
}
