html, body 
{ 
  cursor: url('/cursors/arrow.cur'), auto;
  height: 100%; 
  margin: 0; 
}

:root {
  --bevel-face: #C0C0C0;
  --bevel-light: #FFFFFF;
  --bevel-lighter: #DFDFDF;
  --bevel-dark: #808080;
  --bevel-darker: #404040;

  --background: var(--bevel-face);           
  --foreground: #000000;

  --color-sidebar-bg: var(--bevel-face);
  --color-card-bg: var(--bevel-face);
  --color-border: var(--bevel-dark); 

  --color-primary: #000080;
  --color-primary-hover: var(--bevel-dark);

  --color-surface: #1A1A1A;
  --color-surface-text: #E0E0E0;
  --color-text: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0A0A0A;
    --foreground: #171717;
    --color-primary: #222222;
    --color-primary-hover: #2A2A2A;
    --color-sidebar-bg: #1A1A1A;
    --color-sidebar-border: #2A2A2A;
    --color-card-bg: #1A1A1A;
    --color-border: #2A2A2A;
    --color-text: #E0E0E0;
  }
} */

body {
  background: var(--background);
  font-family: var(--vt323), monospace;
  font-size: 20px;
  letter-spacing: 0.05em;
  color: var(--color-text);
  margin: 0;
  padding: 0;
}
