/* .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-image: url('/rodem-bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    flex: 1;
    min-width: 0;
    padding: 50px;
    overflow-y: auto;
} */

.container {
    min-height: 100dvh;
    background-image: url('/rodem-bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    min-height: 100dvh;
    padding: 50px;
    padding-bottom: 82px;
    box-sizing: border-box;
    overflow-y: auto;
}