
.container {
    height: 100dvh;
    display: grid;
    grid-template-rows: minmax(0, 1fr) auto;
    background-image: url('/rodem-bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.main {
    min-height: 0;
    padding: 50px;
    padding-bottom: 125px;
    box-sizing: border-box;
    overflow-y: auto;
}