.sidebarFooter {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.sidebarFooterContent {
    display: flex;
    flex-direction: column;
}

.sidebarFooterContent p {
    margin: 0;
}

.sidebarFooterContent p:first-child {
    font-weight: bold;
}

.sidebarFooterContent p:last-child {
    font-weight: lighter;
}

.sidebarFooter > :only-child {
    margin-inline: auto;
}